7-1 Otto/7_1_2_walk/7-1-2 node-rd.txt
[{"id":"85b88b1b.466a98","type":"mqtt out","z":"96731783.f49468","name":"","topic":"/kdi/outLight","qos":"","retain":"","broker":"92dbc2cb.f9bcf","x":670,"y":180,"wires":[]},{"id":"1460b2c2.7147bd","type":"mqtt in","z":"96731783.f49468","name":"","topic":"/kdi/outLight","qos":"0","broker":"92dbc2cb.f9bcf","x":157.8182373046875,"y":560.6362915039062,"wires":[["248fc123.dc751e"]]},{"id":"248fc123.dc751e","type":"ui_text","z":"96731783.f49468","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":323.8182373046875,"y":560.6362915039062,"wires":[]},{"id":"c01c9ea3.81857","type":"function","z":"96731783.f49468","name":"","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '1'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":410.00000381469727,"y":218.99998569488525,"wires":[["85b88b1b.466a98"]]},{"id":"5705bcd.8545f44","type":"ui_slider","z":"96731783.f49468","name":"","label":"Left1","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":139.81818008422852,"y":219.45453548431396,"wires":[["c01c9ea3.81857"]]},{"id":"e5eadda1.e5988","type":"function","z":"96731783.f49468","name":"","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '2'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":411.27270889282227,"y":287.18179416656494,"wires":[["85b88b1b.466a98"]]},{"id":"cae2e7dd.07a498","type":"ui_slider","z":"96731783.f49468","name":"","label":"Left2","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":141.09088516235352,"y":287.63634395599365,"wires":[["e5eadda1.e5988"]]},{"id":"35a39796.16f908","type":"function","z":"96731783.f49468","name":"","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '3'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":409.181827545166,"y":348.09089756011963,"wires":[["85b88b1b.466a98"]]},{"id":"e2f86695.da7198","type":"ui_slider","z":"96731783.f49468","name":"","label":"Right1","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":139.00000381469727,"y":348.54544734954834,"wires":[["35a39796.16f908"]]},{"id":"1dcc9265.f6cdce","type":"function","z":"96731783.f49468","name":"","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '4'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":404.9090919494629,"y":399.9090738296509,"wires":[["85b88b1b.466a98"]]},{"id":"2fa42f72.8b88","type":"ui_slider","z":"96731783.f49468","name":"","label":"Right2","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":134.72726821899414,"y":400.3636236190796,"wires":[["1dcc9265.f6cdce"]]},{"id":"ad2256d9.6da138","type":"ui_text_input","z":"96731783.f49468","name":"","label":"배열입력","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":148.0625228881836,"y":162.5590238571167,"wires":[["85b88b1b.466a98"]]},{"id":"1fa6d341.56a8ad","type":"ui_button","z":"96731783.f49468","name":"","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"passthru":false,"label":"앞으로 걷기","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","x":159.05906295776367,"y":119.9895715713501,"wires":[["85b88b1b.466a98"]]},{"id":"3879c597.8e0e7a","type":"ui_slider","z":"96731783.f49468","name":"","label":"속도 5","group":"dcd554b8.9ed6c8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":"30","max":"999","step":1,"x":143,"y":461,"wires":[["573da47b.e8aebc"]]},{"id":"573da47b.e8aebc","type":"function","z":"96731783.f49468","name":"kdi6033@gamil","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '5'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":435,"y":458,"wires":[["85b88b1b.466a98"]]},{"id":"92dbc2cb.f9bcf","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcd554b8.9ed6c8","type":"ui_group","name":"Group 1","tab":"f864781.475ba88","order":1,"disp":true,"width":6},{"id":"f864781.475ba88","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]