7-1 Otto/7_1_2_walk/7-1-2 node-rd.txt
[{"id":"a8f4e6df.443388","type":"mqtt out","z":"ee7dbdec.5db01","name":"","topic":"/kdi/outLight","qos":"","retain":"","broker":"e0c9ae55.e0f79","x":690,"y":123,"wires":[]},{"id":"fd26497a.05f568","type":"mqtt in","z":"ee7dbdec.5db01","name":"","topic":"/kdi/outLight","qos":"0","broker":"e0c9ae55.e0f79","x":177.8182373046875,"y":503.63629150390625,"wires":[["3d383e33.946c42"]]},{"id":"3d383e33.946c42","type":"ui_text","z":"ee7dbdec.5db01","group":"579d1179.2db9b","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":343.8182373046875,"y":503.63629150390625,"wires":[]},{"id":"db761dd8.ac70b","type":"function","z":"ee7dbdec.5db01","name":"","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '1'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":430.00000381469727,"y":161.99998569488525,"wires":[["a8f4e6df.443388"]]},{"id":"3c7e3d5.f37a8c2","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":295.0834655761719,"y":161.87499809265137,"wires":[["db761dd8.ac70b"]]},{"id":"a6662cfa.4fd65","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Left1","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":159.81818008422852,"y":162.45453548431396,"wires":[["3c7e3d5.f37a8c2"]]},{"id":"329740d6.572c1","type":"function","z":"ee7dbdec.5db01","name":"","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '2'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":431.27270889282227,"y":230.18179416656494,"wires":[["a8f4e6df.443388"]]},{"id":"2b341737.b5d008","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":296.3561706542969,"y":230.05680656433105,"wires":[["329740d6.572c1"]]},{"id":"5570a9c4.d61ca8","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Left2","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":161.09088516235352,"y":230.63634395599365,"wires":[["2b341737.b5d008"]]},{"id":"d2bba952.f44798","type":"function","z":"ee7dbdec.5db01","name":"","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '3'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":429.181827545166,"y":291.09089756011963,"wires":[["a8f4e6df.443388"]]},{"id":"91ad717.aec649","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":294.2652893066406,"y":290.96590995788574,"wires":[["d2bba952.f44798"]]},{"id":"c176e8d5.bbeb98","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Right1","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":159.00000381469727,"y":291.54544734954834,"wires":[["91ad717.aec649"]]},{"id":"5aab22bc.df83ec","type":"function","z":"ee7dbdec.5db01","name":"","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '4'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":424.9090919494629,"y":342.9090738296509,"wires":[["a8f4e6df.443388"]]},{"id":"69b48164.4e67","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":289.9925537109375,"y":342.784086227417,"wires":[["5aab22bc.df83ec"]]},{"id":"98be731e.84d23","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Right2","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":154.72726821899414,"y":343.3636236190796,"wires":[["69b48164.4e67"]]},{"id":"17bea48f.4ca3db","type":"ui_text_input","z":"ee7dbdec.5db01","name":"","label":"배열입력","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":168.0625228881836,"y":105.5590238571167,"wires":[["a8f4e6df.443388"]]},{"id":"183cf937.a3c9b7","type":"ui_button","z":"ee7dbdec.5db01","name":"","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":false,"label":"앞으로 걷기","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","x":179.05906295776367,"y":62.9895715713501,"wires":[["a8f4e6df.443388"]]},{"id":"3aab780f.626ec8","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"속도 5","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":"30","max":"999","step":1,"x":163,"y":404,"wires":[["3329323a.14e76e"]]},{"id":"ebd5e662.3646b8","type":"function","z":"ee7dbdec.5db01","name":"kdi6033@gamil","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '5'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":455,"y":401,"wires":[["a8f4e6df.443388"]]},{"id":"3329323a.14e76e","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":290.0834617614746,"y":400.8750123977661,"wires":[["ebd5e662.3646b8"]]},{"id":"e0c9ae55.e0f79","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"579d1179.2db9b","type":"ui_group","name":"Group 1","tab":"5cf3ddee.7a7374","order":1,"disp":true,"width":6},{"id":"5cf3ddee.7a7374","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]