7-1 Otto/7-1-1 node-rd.txt
[{"id":"714ad97c.a5ea68","type":"mqtt out","z":"fe863356.8779f","name":"","topic":"/kdi/outLight","qos":"","retain":"","broker":"2bcd34e9.e92bcc","x":510,"y":180,"wires":[]},{"id":"f5d4ea55.4b2db8","type":"mqtt in","z":"fe863356.8779f","name":"","topic":"/kdi/outLight","qos":"0","broker":"2bcd34e9.e92bcc","x":150.8181610107422,"y":440.6363296508789,"wires":[["e4bc2939.111148"]]},{"id":"e4bc2939.111148","type":"ui_text","z":"fe863356.8779f","group":"3385ece2.23cd84","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":316.8181610107422,"y":440.6363296508789,"wires":[]},{"id":"2f40957b.d4860a","type":"function","z":"fe863356.8779f","name":"kdi6033@gamil","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '1'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":317,"y":181,"wires":[["714ad97c.a5ea68"]]},{"id":"cd39a6c.b184e58","type":"ui_slider","z":"fe863356.8779f","name":"","label":"Left1","group":"3385ece2.23cd84","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":136.81817626953125,"y":181.4545497894287,"wires":[["2f40957b.d4860a"]]},{"id":"97d8723f.bcc7d","type":"function","z":"fe863356.8779f","name":"kdi6033@gamil","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '2'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":318.272705078125,"y":249.1818084716797,"wires":[["714ad97c.a5ea68"]]},{"id":"e66153e.6c0c2b","type":"ui_slider","z":"fe863356.8779f","name":"","label":"Left2","group":"3385ece2.23cd84","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":138.09088134765625,"y":249.6363582611084,"wires":[["97d8723f.bcc7d"]]},{"id":"943f5f4.ba0bfa","type":"function","z":"fe863356.8779f","name":"kdi6033@gamil","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '3'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":316.18182373046875,"y":310.0909118652344,"wires":[["714ad97c.a5ea68"]]},{"id":"46b8703.e795c9","type":"ui_slider","z":"fe863356.8779f","name":"","label":"Right1","group":"3385ece2.23cd84","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":136,"y":310.5454616546631,"wires":[["943f5f4.ba0bfa"]]},{"id":"ff355f18.efece","type":"function","z":"fe863356.8779f","name":"kdi6033@gamil","func":"if(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '4'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":311.9090881347656,"y":361.9090881347656,"wires":[["714ad97c.a5ea68"]]},{"id":"8702cc43.3b4ff","type":"ui_slider","z":"fe863356.8779f","name":"","label":"Right2","group":"3385ece2.23cd84","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":131.72726440429688,"y":362.36363792419434,"wires":[["ff355f18.efece"]]},{"id":"2bcd34e9.e92bcc","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3385ece2.23cd84","type":"ui_group","name":"Group 1","tab":"659cb4c1.d7df2c","order":1,"disp":true,"width":6},{"id":"659cb4c1.d7df2c","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]