7-1 Otto/7-1-1 node-rd.txt
[{"id":"845db296.7940b","type":"mqtt out","z":"ee7dbdec.5db01","name":"","topic":"/kdi/outLight","qos":"","retain":"","broker":"981efa4b.9572b8","x":669,"y":149,"wires":[]},{"id":"52b9aa7b.a717c4","type":"mqtt in","z":"ee7dbdec.5db01","name":"","topic":"/kdi/outLight","qos":"0","broker":"981efa4b.9572b8","x":189.8181610107422,"y":409.6363296508789,"wires":[["2bca492f.08cd16"]]},{"id":"2bca492f.08cd16","type":"ui_text","z":"ee7dbdec.5db01","group":"579d1179.2db9b","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":355.8181610107422,"y":409.6363296508789,"wires":[]},{"id":"7ac9bdfe.bd7c44","type":"function","z":"ee7dbdec.5db01","name":"kdi6033@gamil","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '1'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":476,"y":150,"wires":[["845db296.7940b"]]},{"id":"81e69dbd.2a2d6","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":311.0834617614746,"y":149.8750123977661,"wires":[["7ac9bdfe.bd7c44"]]},{"id":"1022c023.0e069","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Left1","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":175.81817626953125,"y":150.4545497894287,"wires":[["81e69dbd.2a2d6"]]},{"id":"2b6063bc.a3386c","type":"function","z":"ee7dbdec.5db01","name":"kdi6033@gamil","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '2'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":477.272705078125,"y":218.1818084716797,"wires":[["845db296.7940b"]]},{"id":"4748e4c3.1bc07c","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":312.3561668395996,"y":218.0568208694458,"wires":[["2b6063bc.a3386c"]]},{"id":"e66d1d90.93892","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Left2","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":177.09088134765625,"y":218.6363582611084,"wires":[["4748e4c3.1bc07c"]]},{"id":"de72ec39.5bc15","type":"function","z":"ee7dbdec.5db01","name":"kdi6033@gamil","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '3'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":475.18182373046875,"y":279.0909118652344,"wires":[["845db296.7940b"]]},{"id":"5b2a87c2.a0abb8","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":310.26528549194336,"y":278.9659242630005,"wires":[["de72ec39.5bc15"]]},{"id":"8a42284b.ac9968","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Right1","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":175,"y":279.5454616546631,"wires":[["5b2a87c2.a0abb8"]]},{"id":"4ae0c635.f06938","type":"function","z":"ee7dbdec.5db01","name":"kdi6033@gamil","func":"var S = function(x) {\n  return msg.string.setValue(x);\n}\nif(msg.payload<10)\n  msg.payload = '00'+msg.payload;\nelse if (msg.payload<100)\n  msg.payload = '0'+msg.payload;\n  \nmsg.payload = '4'+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":470.9090881347656,"y":330.9090881347656,"wires":[["845db296.7940b"]]},{"id":"b1c787ef.769528","type":"string","z":"ee7dbdec.5db01","name":"","methods":[],"prop":"","propout":"string","object":"str","objectout":"msg","x":305.99254989624023,"y":330.78410053253174,"wires":[["4ae0c635.f06938"]]},{"id":"b2b4b633.c06e48","type":"ui_slider","z":"ee7dbdec.5db01","name":"","label":"Right2","group":"579d1179.2db9b","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":170.72726440429688,"y":331.36363792419434,"wires":[["b1c787ef.769528"]]},{"id":"981efa4b.9572b8","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"579d1179.2db9b","type":"ui_group","name":"Group 1","tab":"5cf3ddee.7a7374","order":1,"disp":true,"width":6},{"id":"5cf3ddee.7a7374","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]