7-1 Otto/7_1_1_1_OttoRobotAWS/node red AWS.txt
[
    {
        "id": "df8d90f99810bc5a",
        "type": "mqtt in",
        "z": "5b52237cba829550",
        "name": "",
        "topic": "outTopic",
        "qos": "0",
        "datatype": "auto",
        "broker": "f15d66b3.c7edf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a75b7d5eb80b1954",
        "type": "mqtt out",
        "z": "5b52237cba829550",
        "name": "",
        "topic": "inTopic",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f15d66b3.c7edf8",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "815f531077f2ccf2",
        "type": "ui_slider",
        "z": "5b52237cba829550",
        "name": "",
        "label": "Left1",
        "tooltip": "",
        "group": "de60fb92ae968f30",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "36092ab4229e7a61"
            ]
        ]
    },
    {
        "id": "36092ab4229e7a61",
        "type": "function",
        "z": "5b52237cba829550",
        "name": "",
        "func": "global.set(\"duty0\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "d62cd5945b3f43cf"
            ]
        ]
    },
    {
        "id": "45573940bbcaff52",
        "type": "ui_slider",
        "z": "5b52237cba829550",
        "name": "",
        "label": "Left2",
        "tooltip": "",
        "group": "de60fb92ae968f30",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "fcb27c0fdacb0fdb"
            ]
        ]
    },
    {
        "id": "fcb27c0fdacb0fdb",
        "type": "function",
        "z": "5b52237cba829550",
        "name": "",
        "func": "global.set(\"duty1\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "d62cd5945b3f43cf"
            ]
        ]
    },
    {
        "id": "9c2431575a9ad075",
        "type": "ui_slider",
        "z": "5b52237cba829550",
        "name": "",
        "label": "Right1",
        "tooltip": "",
        "group": "de60fb92ae968f30",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a9fae23cd227ef64"
            ]
        ]
    },
    {
        "id": "a9fae23cd227ef64",
        "type": "function",
        "z": "5b52237cba829550",
        "name": "",
        "func": "global.set(\"duty2\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "d62cd5945b3f43cf"
            ]
        ]
    },
    {
        "id": "f735ed1815376831",
        "type": "ui_slider",
        "z": "5b52237cba829550",
        "name": "",
        "label": "Right2",
        "tooltip": "",
        "group": "de60fb92ae968f30",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "15",
        "max": "180",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "443890349992f723"
            ]
        ]
    },
    {
        "id": "443890349992f723",
        "type": "function",
        "z": "5b52237cba829550",
        "name": "",
        "func": "global.set(\"duty3\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "d62cd5945b3f43cf"
            ]
        ]
    },
    {
        "id": "d62cd5945b3f43cf",
        "type": "function",
        "z": "5b52237cba829550",
        "name": "",
        "func": "var duty0=global.get(\"duty0\")||0;\nvar duty1=global.get(\"duty1\")||0;\nvar duty2=global.get(\"duty2\")||0;\nvar duty3=global.get(\"duty3\")||0;\nvar newMsg={};\nnewMsg.payload = {\n    \"duty0\":duty0,\n    \"duty1\":duty1,\n    \"duty2\":duty2,\n    \"duty3\":duty3\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "a75b7d5eb80b1954",
                "45de464a78348f41"
            ]
        ]
    },
    {
        "id": "45de464a78348f41",
        "type": "debug",
        "z": "5b52237cba829550",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "f15d66b3.c7edf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com",
        "port": "8883",
        "tls": "509a45a9.089bbc",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "de60fb92ae968f30",
        "type": "ui_group",
        "name": "Otto Robot 제어",
        "tab": "f49fb982f818673d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "509a45a9.089bbc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "94191b3ef7-certificate.pem.crt",
        "keyname": "94191b3ef7-private.pem.key",
        "caname": "MtestCA.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "f49fb982f818673d",
        "type": "ui_tab",
        "name": "두원 AI융합과",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]