7-1 Otto/7_1_8 mqtt_aws_IOT/7-1-4 node-rd.txt
[{"id":"9d09660a.eb9be8","type":"mqtt out","z":"e3020e04.cf30c","name":"","topic":"/kdi/outTopic","qos":"0","retain":"","broker":"c88198c3.1a72a8","x":490,"y":80,"wires":[]},{"id":"7f9c7ca9.c5b6f4","type":"mqtt in","z":"e3020e04.cf30c","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"c88198c3.1a72a8","x":165.81827926635742,"y":430.63632011413574,"wires":[["8868a2d6.7329a"]]},{"id":"8868a2d6.7329a","type":"ui_text","z":"e3020e04.cf30c","group":"2e7ade0c.c43f92","order":1,"width":0,"height":0,"name":"","label":"송신문자","format":"{{msg.payload}}","layout":"row-spread","x":341.8182792663574,"y":430.63632011413574,"wires":[]},{"id":"da9b385b.04a0b8","type":"ui_slider","z":"e3020e04.cf30c","name":"","label":"Left1","group":"2e7ade0c.c43f92","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":145.8181610107422,"y":74.45453357696533,"wires":[["501e3328.8514dc"]]},{"id":"52a5b001.5961d","type":"ui_slider","z":"e3020e04.cf30c","name":"","label":"Left2","group":"2e7ade0c.c43f92","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":147.09088134765625,"y":127.63636302947998,"wires":[["c051976f.a29ad8"]]},{"id":"880a7000.e16e3","type":"ui_slider","z":"e3020e04.cf30c","name":"","label":"Right1","group":"2e7ade0c.c43f92","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":146.0000228881836,"y":179.54545783996582,"wires":[["f965e6d2.5aaf28"]]},{"id":"a9bc1a1.5e3dde8","type":"ui_slider","z":"e3020e04.cf30c","name":"","label":"Right2","group":"2e7ade0c.c43f92","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":146.72728729248047,"y":231.36363410949707,"wires":[["aa13eb26.a4f888"]]},{"id":"e40a22cd.539a2","type":"ui_button","z":"e3020e04.cf30c","name":"","group":"2e7ade0c.c43f92","order":7,"width":0,"height":0,"passthru":false,"label":"앞으로 걷기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","x":168.0590476989746,"y":328.98959159851074,"wires":[["c828e8b2.f4e6f8"]]},{"id":"27fee993.b6fc26","type":"ui_slider","z":"e3020e04.cf30c","name":"","label":"속도 5","group":"2e7ade0c.c43f92","order":8,"width":0,"height":0,"passthru":true,"topic":"","min":"30","max":"999","step":1,"x":146.99996948242188,"y":281.00000286102295,"wires":[["3b65ccd0.ec6b94"]]},{"id":"501e3328.8514dc","type":"function","z":"e3020e04.cf30c","name":"","func":"msg.payload = {\n    mode:1,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":286.0000190734863,"y":75.00000190734863,"wires":[["9d09660a.eb9be8"]]},{"id":"c051976f.a29ad8","type":"function","z":"e3020e04.cf30c","name":"","func":"msg.payload = {\n    mode:2,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":288.0000343322754,"y":127.00004959106445,"wires":[["9d09660a.eb9be8"]]},{"id":"f965e6d2.5aaf28","type":"function","z":"e3020e04.cf30c","name":"","func":"msg.payload = {\n    mode:3,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":285.0000801086426,"y":179.0000457763672,"wires":[["9d09660a.eb9be8"]]},{"id":"aa13eb26.a4f888","type":"function","z":"e3020e04.cf30c","name":"","func":"msg.payload = {\n    mode:4,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":288.00004959106445,"y":230.000018119812,"wires":[["9d09660a.eb9be8"]]},{"id":"3b65ccd0.ec6b94","type":"function","z":"e3020e04.cf30c","name":"","func":"msg.payload = {\n    mode:5,\n    valocity:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":287.0000114440918,"y":280.9999828338623,"wires":[["9d09660a.eb9be8"]]},{"id":"c828e8b2.f4e6f8","type":"function","z":"e3020e04.cf30c","name":"","func":"msg.payload = {\n    mode:9,\n    volume:8,\n    data:[110,70,70,110,70,110,110,70]\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":313.0000343322754,"y":328.0000114440918,"wires":[["9d09660a.eb9be8"]]},{"id":"e6f2d22b.982ce","type":"ui_button","z":"e3020e04.cf30c","name":"","group":"2e7ade0c.c43f92","order":6,"width":0,"height":0,"passthru":false,"label":"초기위치","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","x":158.9999656677246,"y":377.99999237060547,"wires":[["51ec8cff.1b55d4"]]},{"id":"51ec8cff.1b55d4","type":"function","z":"e3020e04.cf30c","name":"","func":"msg.payload = {\n    mode:0,\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":297.00000381469727,"y":377.9999933242798,"wires":[["9d09660a.eb9be8"]]},{"id":"c88198c3.1a72a8","type":"mqtt-broker","z":"","name":"aws","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"daecc2e2.b6a42","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e7ade0c.c43f92","type":"ui_group","z":"","name":"OTTO 로봇제어","tab":"b637a6a1.e2ee88","order":1,"disp":true,"width":"6","collapse":false},{"id":"daecc2e2.b6a42","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"b637a6a1.e2ee88","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]