7-1 Otto/7_1_3 mqtt_json/7-1-3 node red.txt
[{"id":"578553b1.779fbc","type":"mqtt out","z":"e13394a8.9ac5d8","name":"","topic":"/kdi/outTopic","qos":"","retain":"","broker":"87c43b9f.084818","x":498.0173645019531,"y":66.01041412353516,"wires":[]},{"id":"c92e3cef.69b9d","type":"mqtt in","z":"e13394a8.9ac5d8","name":"","topic":"/kdi/outTopic","qos":"0","broker":"87c43b9f.084818","x":138.8355255126953,"y":326.64674377441406,"wires":[["935cf30.34a851"]]},{"id":"935cf30.34a851","type":"ui_text","z":"e13394a8.9ac5d8","group":"86210ab4.34acb8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":304.8355255126953,"y":326.64674377441406,"wires":[]},{"id":"ab5e42d6.e043f","type":"function","z":"e13394a8.9ac5d8","name":"","func":"msg.payload = {\n    mode:1,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":275.0173645019531,"y":67.01041412353516,"wires":[["578553b1.779fbc"]]},{"id":"2aba9312.77e54c","type":"ui_slider","z":"e13394a8.9ac5d8","name":"","label":"Left1","group":"86210ab4.34acb8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":124.83554077148438,"y":67.46496391296387,"wires":[["ab5e42d6.e043f"]]},{"id":"e33cd6d0.ef6728","type":"ui_slider","z":"e13394a8.9ac5d8","name":"","label":"Left2","group":"86210ab4.34acb8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":126.10824584960938,"y":135.64677238464355,"wires":[["15737d77.9c9553"]]},{"id":"c50188d8.5fa778","type":"ui_slider","z":"e13394a8.9ac5d8","name":"","label":"Right1","group":"86210ab4.34acb8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":124.01736450195312,"y":196.55587577819824,"wires":[["85dcbdee.7655"]]},{"id":"65e7308d.03137","type":"ui_slider","z":"e13394a8.9ac5d8","name":"","label":"Right2","group":"86210ab4.34acb8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":119.74462890625,"y":248.3740520477295,"wires":[["3a1c2efd.6bf712"]]},{"id":"15737d77.9c9553","type":"function","z":"e13394a8.9ac5d8","name":"","func":"msg.payload = {\n    mode:2,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":278.0173645019531,"y":136.0104217529297,"wires":[["578553b1.779fbc"]]},{"id":"85dcbdee.7655","type":"function","z":"e13394a8.9ac5d8","name":"","func":"msg.payload = {\n    mode:3,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":274.01739501953125,"y":194.01044940948486,"wires":[["578553b1.779fbc"]]},{"id":"3a1c2efd.6bf712","type":"function","z":"e13394a8.9ac5d8","name":"","func":"msg.payload = {\n    mode:4,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":277.0173645019531,"y":245.0104217529297,"wires":[["578553b1.779fbc"]]},{"id":"87c43b9f.084818","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"86210ab4.34acb8","type":"ui_group","name":"Group 1","tab":"e9324418.c338a8","order":1,"disp":true,"width":6},{"id":"e9324418.c338a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]