7-1 Otto/7_1_4 mqtt_json_array/7-1-4 node-rd.txt
[{"id":"9cb0b9d7.0a6818","type":"mqtt out","z":"c077b341.0f9c4","name":"","topic":"/kdi/outTopic","qos":"","retain":"","broker":"3da1bbc2.ecdad4","x":514.0173835754395,"y":152.01042938232422,"wires":[]},{"id":"d134647f.f4e6a8","type":"mqtt in","z":"c077b341.0f9c4","name":"","topic":"/kdi/outTopic","qos":"0","broker":"3da1bbc2.ecdad4","x":169.83566284179688,"y":502.64674949645996,"wires":[["559d659d.6e117c"]]},{"id":"559d659d.6e117c","type":"ui_text","z":"c077b341.0f9c4","group":"644b7cdd.461c94","order":1,"width":0,"height":0,"name":"","label":"송신문자","format":"{{msg.payload}}","layout":"row-spread","x":345.8356628417969,"y":502.64674949645996,"wires":[]},{"id":"a91b37ac.894688","type":"ui_slider","z":"c077b341.0f9c4","name":"","label":"Left1","group":"644b7cdd.461c94","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":149.83554458618164,"y":146.46496295928955,"wires":[["5db1b64d.2042e8"]]},{"id":"6bb61f75.9c953","type":"ui_slider","z":"c077b341.0f9c4","name":"","label":"Left2","group":"644b7cdd.461c94","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":151.1082649230957,"y":199.6467924118042,"wires":[["196bd9a8.9fcc06"]]},{"id":"d197776d.7393f8","type":"ui_slider","z":"c077b341.0f9c4","name":"","label":"Right1","group":"644b7cdd.461c94","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":150.01740646362305,"y":251.55588722229004,"wires":[["d8e9b738.8f0bb8"]]},{"id":"ed8f2148.d9a1d","type":"ui_slider","z":"c077b341.0f9c4","name":"","label":"Right2","group":"644b7cdd.461c94","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":150.74467086791992,"y":303.3740634918213,"wires":[["3fda43fd.70c0dc"]]},{"id":"6ea5e520.25e23c","type":"ui_button","z":"c077b341.0f9c4","name":"","group":"644b7cdd.461c94","order":7,"width":0,"height":0,"passthru":false,"label":"앞으로 걷기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","x":172.07643127441406,"y":401.00002098083496,"wires":[["51e65be3.b5e5c4"]]},{"id":"395028b6.f0c898","type":"ui_slider","z":"c077b341.0f9c4","name":"","label":"속도 5","group":"644b7cdd.461c94","order":8,"width":0,"height":0,"passthru":true,"topic":"","min":"30","max":"999","step":1,"x":151.01735305786133,"y":353.01043224334717,"wires":[["21926a4f.7687c6"]]},{"id":"5db1b64d.2042e8","type":"function","z":"c077b341.0f9c4","name":"","func":"msg.payload = {\n    mode:1,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":290.0174026489258,"y":147.01043128967285,"wires":[["9cb0b9d7.0a6818"]]},{"id":"196bd9a8.9fcc06","type":"function","z":"c077b341.0f9c4","name":"","func":"msg.payload = {\n    mode:2,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":292.01741790771484,"y":199.01047897338867,"wires":[["9cb0b9d7.0a6818"]]},{"id":"d8e9b738.8f0bb8","type":"function","z":"c077b341.0f9c4","name":"","func":"msg.payload = {\n    mode:3,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":289.01746368408203,"y":251.0104751586914,"wires":[["9cb0b9d7.0a6818"]]},{"id":"3fda43fd.70c0dc","type":"function","z":"c077b341.0f9c4","name":"","func":"msg.payload = {\n    mode:4,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":292.0174331665039,"y":302.01044750213623,"wires":[["9cb0b9d7.0a6818"]]},{"id":"21926a4f.7687c6","type":"function","z":"c077b341.0f9c4","name":"","func":"msg.payload = {\n    mode:5,\n    valocity:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":291.01739501953125,"y":353.0104122161865,"wires":[["9cb0b9d7.0a6818"]]},{"id":"51e65be3.b5e5c4","type":"function","z":"c077b341.0f9c4","name":"","func":"msg.payload = {\n    mode:9,\n    volume:8,\n    data:[110,70,70,110,70,110,110,70]\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":317.01741790771484,"y":400.010440826416,"wires":[["9cb0b9d7.0a6818"]]},{"id":"513f0868.0bebf8","type":"ui_button","z":"c077b341.0f9c4","name":"","group":"644b7cdd.461c94","order":6,"width":0,"height":0,"passthru":false,"label":"초기위치","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","x":163.01734924316406,"y":450.0104217529297,"wires":[["7c7a7ad2.e9b674"]]},{"id":"7c7a7ad2.e9b674","type":"function","z":"c077b341.0f9c4","name":"","func":"msg.payload = {\n    mode:0,\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":301.0173873901367,"y":450.010422706604,"wires":[["9cb0b9d7.0a6818"]]},{"id":"3da1bbc2.ecdad4","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"644b7cdd.461c94","type":"ui_group","z":"","name":"OTTO 로봇제어","tab":"13a87295.718a4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"13a87295.718a4d","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]